<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
    </node>
    <node name="webcam_image_publisher" pkg="ai_host" type="app.py" output="screen" />    
    <node name="face_recognition_node" pkg="ai_host" type="face_matching_node.py" output="screen" />
</launch>